<!DOCTYPE html>
<html lang="en">
<head>
  <title>stirred it - <%= feedName %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <link rel="stylesheet" href="css/sp.css">
</head>
  <body>
    <h1><a href="/">stirred it</a> - <a href="/?feed=<%= feedName %>"><%= feedName %></a></h1>
    <hr>
    <h1><a id="subreddit1" href="https://www.reddit.com/r/<%= subreddit1 %>/hot/" target="_blank">/r/<%= subreddit1 %></a></h1>
    <hr>
    <div id="results1"></div>
    <hr>
    <h1><a id="subreddit2" href="https://www.reddit.com/r/<%= subreddit2 %>/hot/" target="_blank">/r/<%= subreddit2 %></a></h1>
    <hr>
    <div id="results2"></div>
    <hr>
    <h1><a id="subreddit3" href="https://www.reddit.com/r/<%= subreddit3 %>/hot/" target="_blank">/r/<%= subreddit3 %></a></h1>
    <hr>
    <div id="results3"></div>
    <%- include('partials/footer.ejs') %>
    <script type="module" src="js/reddit-api.js"></script>
    <script type="module" src="js/app.js"></script>
  </body>
</html>
